* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.make {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.make .container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 80vh;
}
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
}
.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  flex-direction: column;
  text-align: center; /* Center-aligns all text */
  padding: 20px;
}

.left h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.left span {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
  color: #777;
  text-align: center; /* Center-aligns only the span */
}

.left p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.left button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.left button:hover {
  background-color: #555;
}

.right {
  position: relative;
  overflow: hidden;

}
@media (max-width: 768px) {
  .right {
    padding: 100px 0 100px 0;
  }
}
.photo-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
}

.profile-photo {
  width: 100%;
  border: 5px solid #333;
}

.orbit {
  position: absolute;
  left: -16%;
  width: 130%;
  height: 130%;
  animation: rotate 10s linear infinite;
  z-index: 999;
}
@media (max-width: 768px) {
  .orbit {
    left:0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
}

.social-icon {
  position: absolute;
  width: 50px;
  z-index: 1000;
}

.social-icon img {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.social-icon:nth-child(1) { top: 0; left: 50%; transform: translateX(-50%); }
.social-icon:nth-child(2) { top: 50%; right: 0; transform: translateY(-50%); }
.social-icon:nth-child(3) { bottom: 0; left: 50%; transform: translateX(-50%); }
.social-icon:nth-child(4) { top: 50%; left: 0; transform: translateY(-50%); }

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
