<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../css/AdminHome.css" />
</head>

<body class="AdminHomeBody">
    <header class="nav">
        <nav class="container">
            <ul class="L-link">
                <li style="padding-left:0px;"><a href="" class="Title"> TATWEER </a></li>
                <li><a href="">Home</a></li>
                <li><a href="">about</a></li>
            </ul>
            <ul class="R-link">
                <li>
                    <form class="searche">
                        <button><img src="../assets/search.png"></button>
                        <input type="search" placeholder="Search" />
                    </form>
                </li>
                <li style="padding-right:0px;"><a href=""><img src="../assets/user.svg" class="user-icon"></a></li>
            </ul>
        </nav>
    </header>
    <header class="header-II">
        <div class="container">
            <ul class="second-nav">
                <li class="active"><a href="">Authors</a></li>
                <li><a href="">users</a></li>
            </ul>
        </div>
    </header>
    <section class="posts work-steps">
        <div class="container">          
            <div class="info">
                <button class="add-btn"><img src="../assets/add.png"> Add Author</button>
                <input class="input-auth-name" type="text" placeholder="write author name">
                <button class="add-btn">submit</button>
                <!-- post -->
                <div class="post">
                    <div class="personal-info">
                        <span class="auth-id">1</span>
                        <a href=""><img src="../assets/writer.png" alt="" /></a>
                        <h2>Cheksper</h2> 
                    </div>
                    <div class="articles-numbers">
                        <h2>Articles : <span>30</span></h2>
                    </div>
                    <div class="box-buttons">
                        <button class="update-btn">Update</button>
                        <button class="delete-btn">delete</button>
                    </div>
                </div>
                <!-- post -->
                <div class="post">
                    <div class="personal-info">
                        <span class="auth-id">2</span>
                        <a href=""><img src="../assets/writer.png" alt="" /></a>
                        <h2>ahmed khalid twfik</h2> 
                    </div>
                    <div class="articles-numbers">
                        <h2>Articles : <span>2</span></h2>
                    </div>
                    <div class="box-buttons">
                        <button class="update-btn">Update</button>
                        <button class="delete-btn">delete</button>
                    </div>
                </div>                 
                <!-- post -->
                <div class="post">
                    <div class="personal-info">
                        <span class="auth-id">3</span>
                        <a href=""><img src="../assets/writer.png" alt="" /></a>
                        <h2>Mahmoud Hossam</h2> 
                    </div>
                    <div class="articles-numbers">
                        <h2>Articles : <span>15</span></h2>
                    </div>
                    <div class="box-buttons">
                        <button class="update-btn">Update</button>
                        <button class="delete-btn">delete</button>
                    </div>
                </div> 
                <!-- post -->
                <div class="post">
                    <div class="personal-info">
                        <span class="auth-id">3</span>
                        <a href=""><img src="../assets/writer.png" alt="" /></a>
                        <h2>Mahmoud Hossam</h2> 
                    </div>
                    <div class="articles-numbers">
                        <h2>Articles : <span>15</span></h2>
                    </div>
                    <div class="box-buttons">
                        <button class="update-btn">Update</button>
                        <button class="delete-btn">delete</button>
                    </div>
                </div> 
                <!-- post -->                
            </div>
        </div>
    </section>
</body>

</html>