/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
}
:root {
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family:sans-serif;
  position:relative;
  background-color: #3D3D3C;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* 0 header  */
.header .container {
  display:flex;
  justify-content:space-between;
}

.header .container .logo img {
  width:50px;
}
nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display:flex;
  justify-content:space-between;
  width:87%;
  align-items:center;
  flex-wrap: wrap;
}
nav ul li {
  transition:0.6s;
  margin:10px 0px;
}
nav ul li a:hover {
  color:black;
}
nav ul li a {
  color: white;
  font-size: 22px;
}
@media(max-width: 992px){
   nav ul li a {
    font-size: 15px;
  }
}
.active {
  padding:5px 10px;
  border: solid 3px white;
}
/* 1 header */

/* 0 land */
.landing  {
  background:url("../imgs/main-back.jpg");
  z-index:-1;
  background-position:center;
  background-size:cover;
  height:100vh;
  margin-top:-150px;
}
.landing .container {
  display:flex;
  justify-content:center;
  min-height:100%;
  flex-direction:column;
}
.landing .container h1 {
  color:white;
  margin-top:350px;
  font-size:100px;
}
.landing .container h1 span {
  color: bla;
  position:relative;
  letter-spacing:5px;
  font-size:18px;
  text-transform:uppercase;
  font-weight:500;
  display:block;
}
.landing .container h1 span:after {
  content:" ";
  border-bottom: solid 4px white;
  width:50px;
  position:absolute;
  left:0px;
  bottom:-10px;
}
.text-land {
  text-align:center;
  color:white;
}
.text-land h2 {
  font-size:32px;
  text-transform:lowercase;
  margin-bottom:5px;
}
.text-land span {
  color:white;
  position:relative;
}
.text-land span:after {
  content:" ";
  border-bottom: solid 3px #9B9A9A;
  width:50px;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:-10px;
}
.text-land p {
  color:white;
  font-weight: bold;
  font-size: larger;
}
/* 1 land */
/* 0 article */
.Articles {
  padding-top:var(--main-padding-top) ;
  padding-bottom:var(--main-padding-bottom);
}
.Articles .photos {
    margin-top:22px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
    grid-gap: 20px;  
}
@media (max-width: 768px) {
  .Articles .photos {
    overflow:hidden;
  }
}
.photos .box {
  color:white;
  letter-spacing:3px;
  position:relative;
  text-align:center;
}
.photos .box img {
  width:350px;
  box-shadow:10px 15px 20px rgba(0, 0, 0, 0.724);
}
@media (max-width: 768px) {
  .photos .box img  {
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
.photos .box .word {
  margin-top:-100px;
}
.photos .box h2 {
  text-transform:uppercase;
  font-weight:400;
}
.photos .box p {
  margin-top:-10px;
}
.photos .box p:after{
  content:" ";
  border-bottom: solid 3px #9B9A9A;
  width:40px;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:4px;
}
/* 1 article */
/* 0 index-box */
.index-box {
  background-color: #2E2E2E;
  min-height:60vh;
  position:relative;
  padding:8px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
}
.input {
  border: solid 3px #525152;
  background-color:#3A3A3A;
  padding:10px;
  width:50%;
  color: white;
}
button {
  border: solid 3px white;
  background-color:transparent;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:2px;
  padding:10px;
  width:10%;
}
.more-width {
  height:100px;
}
@media (max-width: 768px) {
  .input {
    width:70%;
  }
  button {
    font-size:10px;
  }
}
@media (max-width: 992px) {
  button {
   width:20%;
  }
}
/* 1 index-box */
/* 0 footer */ 
.footer .container {
  display:flex;
  justify-content:space-between;
  padding-bottom:var(--main-padding-bottom);
  padding-top:var(--main-padding-top);
}
.footer .container .logo img {
  width:100px;
}
@media(max-width: 720px){ 
  .footer .container .logo img {
    display:none;
  }
}
.footer nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
@media(max-width: 720px){
  .footer nav {
    justify-content:center;
  }
}
.footer  nav ul {
  display:flex;
  justify-content:space-between;
  width: 87%;
  align-items:center;
}
@media(max-width: 720px) {
   .footer  nav ul{
     flex-direction:column;
     justify-content:space-between;
  }
}
.footer  nav ul li {
  transition:0.6s;
}
@media(max-width: 720px) {
  .footer  nav ul li {
    padding-bottom:10px;
  }
}
.footer  nav ul li a:hover {
  color:black;
}
.footer  nav ul li a {
  color: white;
  font-size: 22px;
}
@media(max-width: 992px){
   nav ul li a {
    font-size: 15px;
  }
}
/* 1 footer */