<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home</title>
	<link rel="stylesheet" href="../css/normalize.css" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="../css/WriteArticle.css" />
</head>
<body class="write-article-body">
    <section>
        <div class="container">
    <head>
        <div class="first-line">
            <img src="../assets/logo.png">
            <div class="site-name">Author Identifcation</div>
        </div>
        <div class="second-line">
            <h1>TEll us what is in your mind</h1>
        </div>
        <div class="third-line">
            <h3>Contact with million of users within minutes. View profiles, ratings,
                 portfolios and chat with them.
                 Pay the freelancer only when you are 100% satisfied with their work.
            </h3>
        </div>
    </head>
    <!-- -->
    <div class="info">
        <!-- poste -->
        <div class="poste">
            <div class="personal-infoo">    
                <input placeholder="Choose a name for article" >
            </div>
            <div class="text">
              <h2>write the Article here</h2>
              <p><textarea id="try" name="description" 
                placeholder="Describe your Idea here..." class="multiline-input"></textarea>
              </p>
            </div>              
        </div>
        <!-- poste -->  
        <button class="publish-art-btn">Publish</button>          
        </div>
    <!-- -->
        </div>
    </section>
</body>
</html>