/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cairo';
  }
  /* variables */
  :root {
    --main-color:#3AAA35 ;
    --secondry-color:#868686;
    --main-padding-top: 67px;
    --main-padding-bottom: 67px;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Cairo', sans-serif;
    background-color:#eee;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .Text-font-style {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
  /* End Glopal Rules */
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* Medium */
  @media (max-width: 992px) {
    .Text-font-style {
      font-weight: 700;
      font-size: 20px;
    }
  }
  /* start header  */
  .header .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: 34px;
}
.header .logo {
  width: 60px;
}
.header .linkss {
  position: relative;
  text-align: right;
}
.header .linkss:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .linkss .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top:20px;
}
.header .linkss .icon span {
  background-color: var(--main-color);
  margin-bottom: 5px;
  height: 2px;
}
.header .linkss .icon span:first-child {
  width: 100%;
}
.header .linkss .icon span:nth-child(2) {
  width: 100%;
  transition: var(--main-duration);
}
.header .linkss .icon span:last-child {
  width: 100%;
}
.header .linkss ul {
  display: flex;
  text-align: right;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color:#9de699;
  position: absolute;
  right: 0;
  min-width:500px;
  top: calc(100% + 15px);
  display: none;
  z-index: 999;
  text-align: right;
  padding:10px;
}

.header .linkss:hover ul {
  display: block;
  text-align: right;
}
.header .linkss ul li  {
  font-weight:700;
}
.header .linkss ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  transition: var(--main-duration);
  text-align: right;
}
.header .linkss ul li a:hover {
  padding-left: 25px;
}
.header .linkss ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.header .linkss ul li {
  margin-top:10px;
}
.force {
  font-family: 'Cairo';
  color: black;
}

 header {
  padding-top: var(--main-padding-top);
}

.links {
display: flex;
justify-content:space-between;
align-items: center;
text-align: center;
flex-direction: row-reverse;
}

.links li a {
  color: var(--secondry-color);
}
.links li .active {
  color: var(--main-color);
}
.links li a:hover {
  color: var(--main-color);
}
.active {
  color: var(--main-color);
}
.toggle-menu {
  font-size: 22px;
}
@media (max-width: 768px) {
  header {
    display:none;
  }
}
@media (min-width: 768px) {
  .header {
    display:none;
    background-color: red;
  }
}

/* end Header */  
/* start land */
.adv-land {
   height:100vh;
}
.adv-land .container {
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
}
@media (max-width: 768px) {
    .adv-land .container {
         flex-direction:column;
         justify-content: center;
         align-items: self-end;
     }
 }
.land-img {
    flex-basis:40%;
    padding:20px;
}
@media (max-width: 992px) {
    .land-img{
        flex-basis:50%;
    }
}
@media (max-width: 768px) {
    .land-img{
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
.land-img img {
    width:100%;
}
@media (max-width: 768px) {
    .land-img img {
      width:50%;
    }
}
.adv-land .container .features {
    flex-basis:50%;
    display: flex;
    flex-direction:column;
    text-align:right;
}
@media (max-width: 768px) {
    .adv-land .container .features {
        width: 100%;
    }
}

.adv-land .container .features h2 {
    padding-bottom:50px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
    letter-spacing: 0em;
    font-feature-settings: 'liga' off;
    color: var(--main-color);
    padding-top: 15px;
}
.adv-land .container .features .feature {
    background-color:white;

    display:flex;
    border-radius:8px;
    flex-direction:row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:20px;
    position: relative;
}
.adv-land .container .features .feature span {
    padding:0px 10px;
    background-color:var(--main-color);
    display:flex;
    color:white;
    align-items: center;
    justify-content:center;
    border-radius:7px;
}
.adv-land .container .features .feature p {
    padding-right: 5px;
    margin: 2px 3px;
}

/* end land */